
 /* Adapt font size */
    /* html, body {
        font-size: 18px;
    }
    .footer__copyrigth, .footer__links{
        font-size: 14px;
    }
    .date__type, .day__duration {
        font-size: 15px;
    }
    .header__black-button, .socials_article, .couching__morebtn, 
    .course_more, .roadmap__description, .consult__yourresults, .useful__text{
        font-size: 16px;
    }
    .coutching__description, .mailling__dot, .footer__title {
        font-size: 24px;
    }
    .stage__name, .course__name, .date__month, .date__title, .day__number {
        font-size: 30px;
    }
    .consult__comment, .review__number {
        font-size: 36px;
    }
    .header__landcontainer h1, .provider__advantages, .aboutCEO__meet, 
    .couching__title, .consult_subheader, .partnets__title, .mailling__title {
        font-size: 48px;
    }
    .aboutCEO__name  {
        font-size: 72px;
    }
    .header__landcontainer h2, .couching__reversetext, .roadmap__subheader,
    .calendar__title, .mailling__bgtext{
        font-size: 82px;
    }
    .provider__title, .provider__title2, .roadmap__header, .record__title {
        font-size: 100px;
    }
    .reviews__header {
        font-size: 112px;
    }
    .couching__number  {
        font-size: 182px;
    }
    .date__number {
        font-size: 153px;
    } */
/* Large desktops and laptops */

@media (max-width: 1790px) {
    .header {
        padding-top: 14px;
        height: 95%;
    }
    .programs__item {
        padding: 15px 0 15px 0;
    }
    .licenses__pagin{
        margin-top: 15px;
    }
    .header__contacts {
        flex-direction: column-reverse;
    }
    .header__phonecontainer {
        margin-top: 15px;
    }

    .header__landing {
        margin-top: 0px;
    }

    .bg__planet img{
        width: 30%;
    }
    .provider__description--one {
        left: 722px;
        width: 255px;
    }
    .main__rigthline {
        right: 7%;
    }
    .socials_item {
        width: 36px;
        height: 36px;
    }
    .socials_item img {
        width: 17px;
    }
    .socials_article::after {
        left: 130px;
    }
    .team_slide img{
        height: 200px;
    }
    .provider__team {
        flex-direction: column;
        margin-top: 0;
    }
    .team_slider {
        margin-top: 50px;
    }
    .couching__formyself {
        width: 337px;
        height: 505px;
    }
    
    .couching__forcompany {
        width: 589px;
        height: 795px;
    }
    .couching__reversetext {
        position: relative;
        max-width: 727px;
        transform: none;
        top: 0;
        margin: 0 auto;
        text-align: center;
    }
    .couching__cotainer {
        margin-top: 300px;
    }
    .couchign__orangerect {
        width: 400px;
        top: 80px;
        left: 50px;
        z-index: -2;
    }
    .roadmap__description {
    width: 215px;
    }
    .provider__hr {
        margin-top: 300px;
    }
    .provider__record {
        margin-top: 237px;
    }
    .record__title {
        top: 80px;
    }
    .record__ilustration {
        width: 60%;
    }
    .record__description {
        margin-bottom: 70px;
    }
    .useful__gc {
        width: 65px;
    }
    .useful__arrow {
        width: 83px;
    }
    .provider__container:first-child:after {

        bottom: 50px;
        right: 100px;
    }
    /* Adapt font size */
    html, body {
        font-size: 13.5px;
    }
    .footer__copyrigth, .footer__links{
        font-size: 10.5px;
    }
    .date__type, .day__duration {
        font-size: 11.25px;
    }
    .header__black-button, .socials_article, .couching__morebtn, 
    .course_more, .roadmap__description, .consult__yourresults, .useful__text{
        font-size: 12px;
    }
    .coutching__description, .mailling__dot, .footer__title {
        font-size: 18px;
    }
    .stage__name, .course__name, .date__month, .date__title, .day__number {
        font-size: 22.5px;
    }
    .consult__comment, .review__number {
        font-size: 27px;
    }
    .header__landcontainer h1, .provider__advantages, .aboutCEO__meet, 
    .couching__title, .consult_subheader, .partnets__title, .mailling__title {
        font-size: 36px;
    }
    .aboutCEO__name  {
        font-size: 54px;
    }
    .header__landcontainer h2, .couching__reversetext, .roadmap__subheader,
    .calendar__title, .mailling__bgtext{
        font-size: 61.5px;
    }
    .provider__title, .provider__title2, .roadmap__header, .record__title {
        font-size: 75px;
    }
    .reviews__header {
        font-size: 84px;
    }
    .couching__number  {
        font-size: 136.5px;
    }
    .date__number {
        font-size: 114.75px;
    }
    .provider__review:nth-child(3) {
        grid-column: 1;
    }
    .provider__review:nth-child(4) {
        grid-column: 2;
    }
}
@media (max-width: 1250px) {
    .header {
        padding-left: 4%;
        padding-right: 4%;
    }
}

/* Portrait tablets and medium desktops */
@media (max-width: 992px) {

    .header {
        height: 1150px;
    }
    .header__logo, .header__contacts {
        display: none;
    }

    .header__mobilelogo {
        display: flex;
        align-items: center;
    }
    .burger-menu {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 20px; /* Расположение справа */
        top: 20px; /* Расположение сверху */
        z-index: 1000; /* Чтобы бургер был поверх других элементов */
    }
    
    .bar {
        height: 2px;
        width: 70px;
        background-color: black;
        margin: 3px 0;
    }
    
    .header__nav {
        position: fixed;
        top: 0;
        right: -250px; /* Скрываем меню изначально */
        width: 250px; /* Ширина меню */
        height: 100vh; /* Полная высота экрана */
        background-color: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease; /* Плавное появление */
        z-index: 800;
    }
    
    .header__nav.active {
        right: 0; /* Появление меню при активации */
    }
    
    .nav__list {
        list-style: none;
        padding: 20px; /* Отступы для списка */
        display: flex;
        flex-direction: column;
    }
    
    .nav__item {
        margin-bottom: 15px; /* Отступ между элементами */
    }

    .header__landing {
        flex-direction: column;
        align-items: flex-start;
    }

    .programs__item:nth-child(2),  .programs__item:nth-child(3) {
        display: none;
    }
    .programs__item {
        border-bottom: 0;
    }
    .header_bgprogram {
        width: 200px;
        height: 35px;
        top: 20px;
    }    
    .bg__planet {
        margin-top: 300px;
        margin-left: 10%;
    }
    .bg__planet img{
        width: 100%;
    }
    .provider__container {
        padding: 0;
        margin: 0;
    }
    .provider__container:first-child::after {
        bottom: -204px;
        right: 22px;
    }
    .provider__container:first-child:before {
        bottom: -168px;
        left: 148px;
    }
    .provider__bluespot {
        left: 0;
        top: 200px;
        bottom: unset;
    }
    .provider__title, .provider__title2 {
        margin: 0;
        font-size: 52px;
    }
    .provider__block {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .advantages__textblocks {
        flex-direction: column;
        margin-left: 5%;
        margin-top: 35px;
    }
    .advantages__textblock {
        height: 109px;
    }
    .main__provider {
        margin-left: 5%;
        margin-top: 35px;
    }
    .provider__advantages {
        margin-left: 5%;
    }
    .provider__team {
        margin-left: 5%;
    }
    .main__rigthline {
        display: none;
    }
    .licenses__pagin {
        display: none;
    }
    .licenses__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .licenses__card--three {
        grid-column: span 2;
        margin-top: 20px;
        margin-left: 60px;
    }
    .header__bgimage {
        height: 1150px;
    }
    .bg__rigtellipse {
        right: -200px;
    }
    .header__mouseicon {
        bottom: 85px;
    }
    .landing__logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .landing__logo img {
        width: 50%;
    }
    
    .provider__description--one {
        display: none;
    }
    .header__description--one {
        display: flex;
        margin-bottom: 20px;
    }
    .provider__description--two{
        margin-top: 25px;
    }
    .provider__description--three {
        margin: 18px 50px 110px;
    }
    .provider__container, .main__provider {
        border: none;
    }
    .team_slide img {
        margin-right: 10px;
    }
    .header__landcontainer {
        margin-left: 20px;
    }
    .header__landcontainer h1 {
        font-size: 26px;
        line-height: 36px;
    }
    .header__landcontainer h2 {
        margin-top: 20px;
    }
    .header__landcontainer .header__black-button {
        margin-top: 40px;
    }
    .advantages__blacktextbg {
        height: 25px;
    }
    .provider__advantages {
        font-size: 24px;
    }
    .date__number::after {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: -20px;
        width: 175px;
        height: 175px;
        border-radius: 100%;
        border: 1px solid rgb(255, 152, 0); 
    }
    .programs__list {
        line-height: 18px;
        width: 70px;
    }
    
    .header__programs {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin: 0;
    }
    .provider__aboutCEO {
        margin-top: 75px;
        padding-bottom: 400px;
    }
    .aboutCEO__pc-bg {
        display: none;
    }
    .aboutCEO__mb-bg {
        display: block;
    }
    .aboutCEO__logo {
        display: block;
    }
    .aboutCEO__container {
        top: 0;
        left: 25px;
    }
    .aboutCEO__text {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }

    .aboutCEO__name {
        font-size: 48px;
        line-height: 56px;
        width: 80%;
        font-weight: bold;
        margin: 30px 10%;
    }

    .aboutCEO__meet {
        font-size: 24px;
        line-height: 34px;
        width: 43%;
        margin: 0 10%;
    }
    
    .provider__play {
        top: 40%;
        left: 45%;
        z-index: 100;
    }

    .provider__play-icon  img{
        width: 40px;
        height: 40px;
    }

    .provider__play-icon::after {
        width: 400px;
        height: 400px;
    }
    
    .provider__play-icon::before {
        width: 650px;
        height: 650px;
    }

    .provider__play:hover .provider__play-icon::after {
        width: 400px;;
        height: 400px;;
        border: 1px solid white;
    }
    .provider__play:hover .provider__play-icon::before {
        width: 650px;
        height: 650px;
        border: 1px solid white;
    }

    .aboutCEO__line {
        display: none;
    }

    .aboutCEO__telegram {
        left: 0;
        bottom: 0;
        width: 387px;
    }
    .aboutCEO__tglink-btn {
        bottom: 90px;
        right: 0;
    }
    .couching__reversetext {
        font-size: 42px;
        line-height: 52px;
        display: inline-block;
        font-weight: bold;
        text-align: left;
        margin-left: 3%;
    }
    .provider__couching {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 300px;
    }

    .provider__hr {
        margin-top: 50px;
    }

    .provider__hr img {
        width:80%;
    }

    .couching__cotainer:nth-child(2) {
        margin-left: 3%;
    }
    .couching__cotainer:nth-child(3) {
        margin: 0;
    }

    .couching__cotainer {
        position:relative;
        left: 0;
        margin-top: 50px;
    }
    .couching__forcompany {
        position: relative;
        width: 478px;
        height: 600px;
        position: relative;
        transform: translateX(0) !important;
        top: 0;
    }

    .couching__forcompany .coutching__description {
        position: relative;
        top: 475px;
        font-size: 16px;
        width: 250px;
        left: 10%;
    }
    
    .couching__forcompany .couching__morebtn {
        position: relative;
        left: 120px;
        top: 400px;
    }
    .roadmap__stage {
        flex-direction: column;
    }
    .stage__level {
        margin-bottom: 30px;
        margin-left: 11%;
    }
    .couching__number {
        font-size: 112px;
        font-weight: bold;
    }
    .couching__formyself {
        width: 260px;
        height: 405px;
    }
    .couching__formyself .couching__number {
        left: 3%;
        mix-blend-mode: overlay;
        top: 100px;
    }
    .couching__formyself .couching__morebtn {
        left: 30px;
    }

    .couching__forcompany .couching__number {
        position: absolute;
        top: 120px;
        left: 3%;
    }
    
    .couching__forcompany .couching__title {
        top: 240px;
        left: 3%;
        line-height: 120%;
    }

    .couchign__orangerect {
        width: 250px;
        top: 60px;
        left: -10px;
        height: 30px;
    }

    .center-letter {
        width: 50px;
    }
    .stage__name {
        position: relative;
        top: -100%;
    }
    .stage__leftcontainer {
        width: 100%;
    }
    .stage__courses {
        margin-left: 30px;
    }
    .roadmap__description {
        margin-left: 30px;
    }
    .roadmap_bg {

        left: 13px;
        right: 13px;

    }
    .provider__record {
        margin-top: 150px;
        flex-direction: column;
        position: relative;
    }
    .record__ilustration {
        width: 100%;
        margin-left: 32px;
    }
    .record__title {
        font-size: 51px;
        max-width: 100%;
        margin-left: 31px;
        top: -120px;
        right: unset;
    }
    .record__description {
        margin-left: 30px;
    }
    .provider__record:before {
        position: absolute;
        content: "";
        left: 15px;
        height: 75%;
        width: 1px;
        background-color: rgb(255, 152, 0);
    }
    .provider__startIU {

        margin-left: 157px;
        margin-bottom: 7px;

    }
    .roadmap__header {
        padding: 0 3%;
        font-size: 60px;
    }
    .record__description p {
        width: 90%;
    }
    .provider__calendar {
        margin: 0 3%;
        border-left: unset;
        position: relative;
    }
    .calendar__title {
        max-width: 700px;
        margin-left: 17px;
        color: rgb(0, 0, 0);
        font-size: 41px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 50px;
        z-index: 3;
    }
    .provider__calendar:before {
        position: absolute;
        content: "";
        top: 170px;
        left: 10px;
        height: 55%;
        width: 2px;
        background-color: rgb(255, 152, 0);
    }
    .calendar__bgtitile {
        position: absolute;
        top: 90px;
        left: -50px;
        width: 60%;
        height: 57px;
        border-radius: 27px;
        background: rgb(255, 152, 0);
        z-index: -2;
    }
    .calendar__dates {
        margin-top: 145px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    .calendar__date {

       border-left: unset;

    }
    .date__container {
        display: flex;
        justify-content: unset;
        gap: 66px;
    }
    .date__info {
        margin-top: 41px;
    }
    .calendar__days {
        margin-top: 82px;
        margin-left: 10px;
        margin-right: 54px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
    }
    .day__card {
        width: 81px;
        height: 129px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}