@font-face {
	font-family: 'TT Norms'; 
	src: local('TT Norms'),
		url(../src/fonts/tt-norms-regular.otf); 
}

@font-face {
	font-family: 'TT Norms Pro'; 
	src: local('TT Norms Pro'),
		url(../src/fonts/TTNormsPro-Regular.woff2); 
}

@font-face {
	font-family: 'TT Livret Display Trl'; 
	src: local('TT Livret Display Trl'),
		url(../src/fonts/TTLivretDisplayTrialRegular.ttf); 
}

@font-face {font-family:"TT Livret Trial Roman Variable";
    src:url("../src/fonts/RomanVariable/ttlivrettrialromanvariable.eot") format("eot"),
    url("../src/fonts/RomanVariable/ttlivrettrialromanvariable.woff") format("woff"),
    url("../src/fonts/RomanVariable/ttlivrettrialromanvariable.ttf") format("truetype"),
    url("../src/fonts/RomanVariable/ttlivrettrialromanvariable.svg") format("svg");
    font-weight:normal;
    font-style:normal;
}

@function rem($pixels) {
	@return calc($pixels / 10) + rem;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 18px;
    background: rgba(243, 251, 254, 0.60);
}

body {
    font-family: TT Norms Pro, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

.header {
    padding: 31px 13% 0 13%;
    position: relative;
    height: 877px;
    overflow: hidden;

}

.header__bg {
    background-color: rgba(243, 243, 243, 0.6);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header__bgimage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../src/images/bgimages/background.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.bg__planet {
    margin-top: 221px;
    text-align: center;
}

.bg__clo {
    position: absolute;
    top: 120px;
    right: 0;
    opacity: 0.1;
    /*mix-blend-mode: overlay;*/
}

.bg__rigtellipse {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    max-height: 72px;
}

.header__nav {
    flex-grow: 1; /* Применяем настраиваемый размер для навигации */
    display: flex;
    justify-content: center;
}

.nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__item {
    margin: 0 15px; 
}

.nav__link {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: TT Norms, sans-serif;
}

.header__contacts {
    text-align: right;
    display: flex;
    align-items: center;
}

.header__phone {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.header__black-button {
    display: flex;
    align-items: center;
    padding: 0 13px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    min-height: 46px;
    max-height: 46px;
    font-size: 16px;
    font-weight: 300;
    font-family: TT Norms Pro, sans-serif;
}

.header__black-button--arrow1 {
    padding: 0 52px 0 25px;
}

.header__black-button--arrow2 {
    padding: 0 98px 0 25px;
}

.header__black-button--arrow1::after {
    background-image: url('../src/icons/button_arrow.webp');
    width: 18px; /* Ширина иконки */
}

.header__black-button--arrow2::after {
    background-image: url('../src/icons/button_arrow2.webp');
    width: 52px; /* Ширина иконки */
}

.header__black-button:hover {
    opacity: 0.8; 
}

.header__black-button::after{
    content: "";
    display: inline-block;
    height: 23px; 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
}

.header__landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.landing__logo {
    display: none;
}

.header__landcontainer {
}

.header__landcontainer h1{
    font-size: 48px;
    line-height: 58px;
    font-weight: 380;
    font-family: TT Livret Trial Roman Variable, sans-serif;
    margin: 0;
}

.header__landcontainer h2{
    font-family: TT Livret Display Trl, sans-serif;
    font-size: 82px;
    font-weight: 400;
    line-height: 90%;
    margin: 30px 0 0 0;
}

.header__landcontainer .header__black-button {
    margin-top: 59px;
}

.header__socials {
    position: absolute;
    bottom: 45px;
    display: flex;
    align-items: center;
}

.socials_article {
    color: rgb(50, 69, 237);
    font-family: TT Norms, sans-serif;
    font-size: 16px;
    margin-right: 86px;
    margin-left: 30px;
}

.socials_article::after {
    content: "";
    background-image: url('../src/icons/arrow_icon.webp');
    display: inline-block;
    height: 23px;
    width: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 155px;
    top: 50%;
    transform: translateY(-50%);
}

.socials__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.socials_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 90px;
}

.header__mouseicon {
    position: absolute;
    left: 50%;
    bottom: 45px;
}

.header_content {
    position: relative;
    width: 45%;
}

.header__programs {
    display: flex;
    justify-content: flex-end;
}

.header_bgprogram {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    width: 72%;
    height: 100px;
    top: 40px;
    right: 0;
    z-index: 1;
}

.programs__list {
    list-style-type: none;
    font-family: TT Livret Display Trl, sans-serif;
    font-weight: 300;
    line-height: 23px;
    width: 327px;
    z-index: 2;
}

.programs__item {
    padding: 27px 0 30px 0;
    border-bottom: black solid 2px;
}

.header__licenses {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.licenses__pagin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 35px;
    color: white;
}
.licenses__line {
    width: 90%;
    position: relative;
    height: 2px;
    background: white; 
}

.licenses__number{
    font-family: TT Livret Trial Roman Variable, sans-serif;
    font-weight: 300;
    line-height: 23px;
}

.licenses__cards {
    display: flex;
    margin-top: 20px;
    width: 107%;
}

.licenses__card {
    flex-basis: 184px;
    margin-right: 10px;
    padding: 40px 25px 66px 25px;
    border-radius: 30px;

    font-family: TT Norms, sans-serif;
    color: rgb(50, 69, 237);
}

.licenses__card--one {
    background-color: rgba(203, 234, 243, 0.85);
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.25);

}

.licenses__card--two {
    background-color: rgba(203, 234, 243, 0.46);
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.25);
    color: #000;
}

.licenses__card--three {
    background-color: rgba(203, 234, 243, 0.85);
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.25);
    flex-basis: 40%;
    padding: 40px 25px 25px 25px;
    height: min-content;
}

.licenses__header {
    font-weight: bold;
    letter-spacing: 2%;
}

.licenses__description {
    margin-top: 15px;
    line-height: 130%;
}

.licenses__card--two .licenses__description {
    margin-top: 0;
    margin-bottom: 15px;
}

.licenses__nextlink {
    display: flex;
    justify-content: flex-end;
    margin-top: 9px;
}

/* MAIN */

.main {
    position: relative;
    overflow: hidden;
}

.main__rigthline {
    position: absolute;
    top: 627px;
    right: 258px;
    
    height: 1250px;
    width: 2px;
    background-color: rgb(255, 152, 0);
    z-index: -1;
}

.main__provider {
    width: 100%;
    border-bottom: 2px solid rgb(255, 152, 0);
    margin-top: 66px;
    position: relative;
}
.provider__container {
    position: relative;
    margin-left: 20%;
    padding: 140px 0 88px 112px;
    border-left:  2px solid rgb(255, 152, 0);
}
.provider__container:first-child:before {
    position: absolute;
    transform: translate(-50%, -50%);
    content: url("../src/images/effects/circle-two.webp");
    bottom: -60px;
    left: -21px;
}
.provider__container:first-child:after {
    position: absolute;
    content: url("../src/images/effects/arrow-down-citrcle-top.webp");
    bottom: 50px;
    right: 300px;
}

.provider__title, .provider__title2 {
    font-family: TT Livret Display Trl, sans-serif;
    font-size: 100px;
    font-weight: 300;
    margin-left: 62px;
    z-index: 1;
}

.provider__description {
    font-family: TT Norms Pro, sans-serif;
    font-weight: 300;
    line-height: 120%;
}

.provider__block {
    display: flex;
    align-items: flex-end;
}

.provider__description--one {
    position: absolute;
    top: 180px;
    left: 1000px;
    max-width: 340px;
}

.header__description--one {
    max-width: 340px;
    display: none;
}

.provider__description--two {
    max-width: 259px;
}

.provider__description--three {
    margin: 28px 0 0 110px;
}

.provider__bluespot {
    position: absolute;
    bottom: -115px;
    left: 815px;
    z-index: -5;
}

.provider__advantages {
    font-family: TT Livret Trial Roman Variable, sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
}

.advantages__blacktextbg {
    font-family: TT Livret Trial Roman Variable, sans-serif;
    display: inline-flex;
    background-color: black;
    padding: 0 0 4px 7px;
    margin-top: 2px;
    color: white;
    height: 47px;
}

.advantages__textblocks {
    display: flex;
    width: 55%;
    margin-top: 60px;
}

.advantages__textblock {
    height: 139px;
    min-width: 275px;
    margin-right: 85px;
}

.provider__team {
    display: flex;
    margin-top: 80px;
}

.team__ICF {
    display: flex;
    align-items: center;
    margin-top: 37px;
    margin-right: 77px;
    overflow-x: hidden;
}

.team__ICF img {
    margin-right: 20px;
}

.ICF_text {
    margin-left: 5px;
    font-weight: 300;
}

.team_slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
}

.provider__aboutCEO {
    margin-top: 142px;
    position: relative;
    padding-bottom: 140px;
}

.provider__play {
    position: absolute;
    top: 30%;
    left: 50%;
}
.provider__play-icon {
    position: relative;
}

.provider__play-icon::after, .provider__play-icon::before {
    content: "";
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.provider__play-icon::after {
    width: 500px;
    height: 500px;
}

.provider__play-icon::before {
    width: 800px;
    height: 800px;
}
.provider__play:hover .provider__play-icon::after {
    width: 600px;
    height: 600px;
    border: 1px solid rgba(255, 255, 255, 0.27);
}
.provider__play:hover .provider__play-icon::before {
    width: 1000px;
    height: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.27);
}
.provider__aboutCEO img {
    width: 100%;
}

.aboutCEO__mb-bg {
    display: none;
}

.aboutCEO__container {
    position: absolute;
    top: 20%;
    left: 12%;
}

.aboutCEO__meet {
    font-family: TT Livret Trial Roman Variable, sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    width: 307px;
}

.aboutCEO__name {
    font-family: TT Livret Display Trl, sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 82px;
    width: 474px;
}

.aboutCEO__logo {
    display: none;
    width: 100%;
    margin-top: 75px;
}

.aboutCEO__logo img {
    margin-left: 10%;
    width: 200px;
}

.aboutCEO__telegram {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 426px;
    height: 426px;
    z-index: 1;
}

.aboutCEO__tglink {
    text-decoration: none;
}

.aboutCEO__tglink-btn {
    position: absolute;
    bottom: 11%;
    right: -100px;
}

.aboutCEO__tglink-btn .header__black-button {
    display: inline-block;
    font-size: 19px;
    font-weight: 300;
    line-height: 23px;
    min-height: 61px;
    min-width: 256px;
    border-radius: 30.5px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(10px);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(5px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.aboutCEO__tglink-btn .header__black-button:hover {
    background-color: rgb(15, 15, 15);
    opacity: 1;
    animation: shake 1s ease-in-out;
}

.aboutCEO__line {
    position: absolute;
    bottom: 76px;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: black;
    z-index: 0;
    overflow-x: hidden;
}

.provider__couching {
    display: flex;
    height: 1025px;
    margin-top: 142px;
    position: relative;
}

.provider__couching::before {
    content: "";
    position: absolute;
    top: -15%;
    left: 65%;
    height: 278px;
    width: 1px;
    background: #FF9800;
}
.couching__reversetext {
    position: absolute;
    max-width: 727px;
    transform-origin: center;
    transform: rotate(-90deg);
    top: 192px;
    left: 0;
    font-family: TT Livret Display Trl, sans-serif;
    font-size: 82px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: left;
}

.center-letter{
    display: inline-block;
    position: absolute;
}

.couchign__orangerect {
    border-radius: 26px;
    height: 53px;
    width: 450px;
    background: rgb(255, 152, 0);
    position: absolute;
    top: 86px;
    z-index: -2;
}

.couching__cotainer {
    position: absolute;
}

.couching__cotainer:nth-child(2) {
    right: 715px;
}

.couching__cotainer:nth-child(3) {
    right: 700px;
}

.couching__formyself {
    position: relative;
    width: 450px;
    height: 674px;
    background-image: url(../src/images/bgimages/forself.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 50px;
    z-index: -1;
}

.couching__formyself .couching__title {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto 0;
    position: absolute;
    top: 50%;
    left: 25%;
}

.couching__formyself .couching__number {
    position: absolute;
    top: 152px;
    transform: translateX(-40%);
}

.couching__forcompany {
    position: absolute;
    top: 68px;
    width: 785px;
    height: 1060px;
    background-image: url(../src/images/bgimages/forcompany.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 50px;
    transform: translateX(-68px);
    z-index: -1;
}

.couching__forcompany .couching__title {
    color: black;
    text-align: left;
    margin: auto 0;
    position: absolute;
    top: 37%;
    left: 80px;
    line-height: 120%;
}

.couching__forcompany .couching__number {
    position: absolute;
    top: 20%;
    left: 44px;
}

.couching__number {
    color: rgba(0, 0, 0, 0.4);
    font-family: TT Livret Display Trl;
    font-size: 182px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.couching__title {
    font-family: TT Livret Display Trl;
    font-size: 48px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.couching__formyself .couching__morebtn {
    position: absolute;
    bottom: 30px;
    left: 25%;
}
.couching__forcompany .couching__morebtn {
    position: absolute;
    left: 251px;
    top: 690px;
}

.couching__forcompany .coutching__description {
    position: absolute;
    top: 821px;
    left: 77px;
}
.couching__morebtn {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    padding: 13px 96px 13px 26px;

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: TT Norms Pro;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.couching__morebtn::after {
    content: "";
    display: inline-block;
    width: 52px; /* Ширина иконки */
    height: 18px; 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../src/icons/arrow_white.webp');
}

.coutching__description {
    color: rgb(0, 0, 0);
    font-family: TT Norms Pro;
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    max-width: 352px;
}

.provider__hr {
    width: 100%;
}

.provider__hr img {
    display: block;
    margin: auto;
    z-index: 50;
}

.provider__roadmap {
    margin-top: 67px;
}

.roadmap__header {
    padding: 0 13%;
    color: rgb(0, 0, 0);
    font-family: TT Livret Display Trl;
    font-size: 100px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.5%;
    text-align: left;
}

.roadmap__subheader {
    margin-left: 39px;
    padding: 0 13%;
    color: rgb(0, 0, 0);
    font-family: TT Livret Display Trl;
    font-size: 82px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.5%;
    text-align: left;
}

.roadmap__stages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    position: relative;

}
.roadmap__stages:before {
    content: url("../src/images/effects/blue_spot.webp");
    position: absolute;
    left: -50px;
    top: 200px;
    transform: translate(-50%,-50%);
    z-index: -5;
}
.roadmap__stages:after {
    content: url("../src/images/effects/text-bg-map-road.webp");
    position: absolute;
    left: 0;
    top: 25%;
    width: 140%;
    height: 100%;
    opacity: 0.4;
    z-index: -5;
}
.roadmap__stage {
    width: 100%;
    border-bottom: 2px solid rgb(255, 152, 0);
    display: flex;
    padding: 0 11%;
}

.stage__level {
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20.5px;
    padding: 12px 40px;
    width: 146px;
    margin-left: 814px;
    margin-top: 60px;
}

.stage__name {
    display: inline-block;
    background-color: black;
    padding: 0 53px 0 19px;

    color: rgb(255, 255, 255);
    font-family: TT Norms;
    font-size: 30px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    height: 47px;
}

.stage__leftcontainer {
    width: 30%;
}

.stage__courses {
    margin-left: 95px;
}

.course__name {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 30px;
    font-weight: 500;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 235px;
    margin-top: 15px;
    margin-bottom: 30px;
}


.course__hr {
    width: 320px;
    height: 2px;
    background-color: rgb(255, 152, 0);;
    margin-top: 35px;
    margin-bottom: 30px;
}

.course_more {
    color: rgb(0, 0, 0);
    font-family: TT Norms Pro;
    font-size: 16px;
    font-weight: 300;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.course__morecontainer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
}

.course_arrow {
    margin-right: 25px;
}

.roadmap__description {
    color: rgb(0, 0, 0);
    font-family: TT Norms Pro;
    font-size: 16px;
    font-weight: 300;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    width: 315px;
    margin-left: 128px;
    margin-bottom: 76px
    /* position: absolute;
    left: 1200px; */
}

.roadmap_bg {
    position: absolute;
    left: 40%;
    z-index: -5;
}

.provider__record {
    margin-top: 113px;
    display: flex;
    position: relative;
}


.record__title {
    width: 690px;
    position: absolute;
    right: 10%;
    top: 280px;

    color: rgb(0, 0, 0);
    font-family: TT Livret Display Trl;
    font-size: 100px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: left;
}

.record__ilustration {
    width: 70%;
}

.record__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.record__description::before {
    content: url("/src/icons/International_university_small_opacity.webp");
    position: absolute;
    right: 190px;
    top: 15%;
}

.record__description p {
    width: 380px;
}

.provider__recordbtn {
    margin-top: 27px;
    width: 380px;
    position: relative;
}
.provider__recordbtn::before {
    content: "";
    position: absolute;
    left: -60%;
    top: 0;
    width: 150px;
    height: 2px;
    background: #FF9800;
}
.provider__startIU {
    width: 88px;
    height: 88px;
    margin-left: 216px;
    margin-bottom: 11px;
    margin-top: 77px;
}

.provider__calendar {
    margin: 0 13%;
    position: relative;
    border-left: 2px solid rgb(255, 152, 0);
    padding-bottom: 87px;
}
.provider__calendar::after {
    content: url(../src/images/effects/arrow-line-right-yellow.webp);
    position: absolute;
    right: -50px;
    bottom: 100px;
    z-index: -5;
    opacity: 0.8;
}
.provider__consult::after {
    content: url(../src/images/effects/dark-light-right.webp);
    position: absolute;
    right: -20px;
    top: 0;
    transform: translate(0, -50%);
    z-index: -5;
    opacity: 0.8;
}
.provider__consult::before {
    content: url(../src/images/effects/glocoa.webp);
    position: absolute;
    right: -20px;
    top: 50px;

    z-index: -5;
    opacity: 0.1;
}

.calendar__title {
    max-width: 700px;
    margin-left: 129px;

    color: rgb(0, 0, 0);
    font-family: TT Livret Display Trl;
    font-size: 82px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: left;
    z-index: 3;
}

.calendar__bgtitile{
    position: absolute;
    top: 90px;
    left: -50px;
    width: 453px;
    height: 57px;
    border-radius: 27px;
    background: rgb(255, 152, 0);
    z-index: -2;
}

.calendar__dates {
    margin-top: 145px;
    padding-left: 67px;
    display: flex;
}

.calendar__date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid rgba(0, 0, 0, 0.34);
    width: 400px;
    padding-left: 40px;
}

.date__container {
    display: flex;
    justify-content: space-between;
}

.date__aboutday {
    color: rgba(0, 0, 0, 1);
    font-family: TT Livret Display Trl;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: left;
}

.date__number {
    font-size: 153px;
    position: relative;
}
.date__number--inactive {
    opacity: 0.66;
}

.date__month {
    margin-left: 13px;
    font-size: 30px;
}

.date__type {
    width: 125px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    color: rgb(255, 255, 255);
    font-family: TT Norms;
    font-size: 15px;
    font-weight: 500;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
}

.date__title {
    max-width: 279px;

    color: rgb(0, 0, 0);
    font-family: TT Livret Display Trl;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 5px;
}

.date__info {
    margin-top: 188px;
}

.date__morebtn {
    margin: 24px 0;
}

.day__duration {
    color: rgb(50, 69, 237);
    font-family: TT Norms;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.day__card {
    width: 106px;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 14px;
    padding: 21px 15px;
    position: relative;
}
.day__card--active::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: rgb(255, 152, 0);
    border-radius: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    top: -9px;
}
.calendar__days {
    margin-top: 82px;
    margin-left: 149px;
    display: inline-flex;
}

.day__number {
    color: rgb(0, 0, 0);
    font-family: TT Livret Display Trl;
    font-size: 30px;
    font-weight: 500;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
}

.day__month {
    color: rgb(0, 0, 0);
    font-family: TT Livret Display Trl;
    font-weight: 500;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
}

.provider__consult {
    margin: 0 20px;
    padding: 50px 13% 0 13%;

    background-image: url("../src/images/bgimages/need-help-white2.webp");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    border-radius: 30px;
}

.consult_IU {
    position: absolute;
    top: 10px;
    transform: translate(-50%);
    left: 50%;
}

.consult__yourresults {
    position: absolute;
    top: 130px;
    right: 401px;
    padding: 41px 16px 66px 19px;
    
    border-radius: 30px;
    width: 149px;

    font-family: TT Norms, sans-serif;
    color: rgb(50, 69, 237);
    background-color: rgb(208, 236, 244);
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.25);
}
.consult__yourresults {
    font-size: 16px;
}
.yourresults__header {
    color: rgb(50, 69, 237);
    font-family: TT Norms;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 2%;
    text-align: left;
}

.yourresults__description {
    margin-top: 15px;
    color: rgb(50, 69, 237);
    font-family: TT Norms Pro;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: left;
}

.consult_subheader {
    font-family: TT Livret Trial Roman Variable;
    font-size: 48px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 142px;
}

.consult_header {
    font-family: TT Livret Display Trl;
    font-size: 82px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 31px;
}

.provider__consult input[type="text"] {
    margin: 5px 0;
    padding-bottom: 5px;

    border: 0;
    border-bottom: 1px solid black; 
    border-radius: 0; 

    background: transparent !important;
    outline: none; 
    height: 50px; 
    width: 328px; 
    color: black; 
    font-family: TT Livret Display Trl;
    font-weight: 500;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
}

.consult__head {
    margin-left: 10%;
}

.consult__container {
    display: flex;
}

.consult_form {
    display: flex;
    flex-direction: column;
    margin-top: 320px;
}

.consult_arrow {
    width: 52px;
    height: 23px;
    display: flex;
    align-items: flex-end;
    margin: 394px 50px 0 14px;
}

.consult__btn {
    margin-top: 40px;
    margin-left: auto;
}

.consult__comment {
    font-family: TT Livret Display Trl;
    font-size: 36px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 85px;
}

.consult__comment p {
    margin: 0;
}

.provider__reviews {
    padding: 166px 20% 0 20%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    position: relative;
}
.provider__reviews::after {
    position: absolute;
    content: "";
    left: 250px;
    width: 1px;
    height: 79%;
    z-index: -1;
    background: #FF9800;
}
.provider__reviews::before {
    position: absolute;
    content: "";
    left: 250px;
    top: 79%;
    width: calc(100%);
    height: 1px;
    background: #FF9800;
}
.review__img {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.provider__review:nth-child(1) {
    position: relative;
    bottom: 150px;
    left: 0px;
}

.provider__review:nth-child(2) {
    background-image: url(../src/images/clients/client1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(255, 255, 255);
    left: 72px;
}

.provider__review:nth-child(3) {
    position: relative;
    grid-column: 2;
    background-image: url(../src/images/clients/client2.webp);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(255, 255, 255);
    right: 100px;
}

.provider__review:nth-child(4) {
    position: relative;
    grid-column: 3;
    right: 100px;
}
.provider__review {
    width: 411px;
    height: 479px;
    box-sizing: border-box;
    border: 2px solid rgb(186, 190, 190);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review__number {
    font-family: TT Livret Display Trl;
    font-size: 36px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    padding: 25px 0 0 20px;
}
.review__name {
    font-family: TT Norms;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 8%;
}

.review__description {
    font-family: TT Norms Pro;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    width: 340px;
    margin: 24px auto;
}

.review__container {
    position: relative;
}
.review__container::after {
    content: url(../src/images/effects/blue-left-light.webp);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    opacity: 0.4;
}
.review__container::before {
    content: url(../src/images/effects/mini-blue-light-right.webp);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    opacity: 0.4;
}
.reviews__header {
    color: rgb(239, 210, 164);
    font-family: TT Livret Display Trl;
    font-size: 112px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: 0%;
    text-align: left;
    position: absolute;
    top: 150px;
    left: 1162px;
    transform: rotate(-90.00deg);
}

.provider__partners {
    margin: 113px 26px 26px 26px;
    padding: 125px 700px 170px 250px;
    width: 98%;
    box-sizing: border-box;
    border: 2px solid rgb(186, 190, 190);
    border-radius: 16px;
    position: relative;
}
.provider__partners::after {
    content: url(../src/images/effects/arrow-line-right-blue.webp);
    position: absolute;
    right: 25%;
    top: 39%;
    z-index: -5;
    opacity: 0.8;
}
.partner {
    mix-blend-mode: multiply;
}
.provider__partners::before {
    content: url(../src/images/effects/orangle-light-left.webp);
    position: absolute;
    left: -30px;
    top: 100px;
    z-index: -5;
    opacity: 0.8;
}
.partnets__title {
    font-family: TT Livret Trial Roman Variable, sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: -1px;
    letter-spacing: 0%;
    display: block;
    text-align: right;
    box-sizing: border-box;
    padding: 38px;
}

.partners__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 120px;
}

.provider__mailing {
    margin: 57px 150px 0 8%;
    padding-bottom: 90px;
    position: relative;
}
.provider__mailing::before {
    content: url("/src/images/effects/glocoa.webp");
    position: absolute;
    top: 0;
    left: 5%;
    background-blend-mode: overlay;
    opacity: 0.05;
}
.provider__mailing::after {
    content: "Индивидуальный подход к потребностям вашего бизнеса";
    color: rgba(69, 72, 244, 0.39);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    top: -80px;
    right: 15%;
    width: 120px;
}
.mailling__title {
    font-family: TT Livret Trial Roman Variable, sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0%;
}

.mailling__form input[type="text"] {
    margin: 5px 0;
    padding-bottom: 5px;

    border: 0;
    border-bottom: 1px solid black; 
    border-radius: 0; 

    background: transparent !important;
    outline: none; 
    height: 50px; 
    width: 328px; 
    color: black; 
    font-family: TT Livret Display Trl;
    font-weight: 500;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
}

.mailling__bgtitle {
    position: absolute;
    top: 18px;
    left: -15px;
    width: 347px;
    min-height: 41px;
    border-radius: 22px;
    background: rgb(255, 152, 0);
    z-index: -1;
}

.mailling__container {
    display: flex;
    position: relative;

}

.mailling__dots {
    display: inline-flex;
    justify-content: space-between;
    width: 650px;
    margin-top: 81px;
    position: relative;
}

.mailling__dot {
    font-family: TT Livret Display Trl;
    font-size: 24px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 2%;
}

.mailling__dot::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgb(255, 152, 0);
    border-radius: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -21px;
}

.mailling__arrow {
    width: 52px;
    height: 23px;
    margin-top: 83px;
    margin-left: 97px;
}

.mailling__form {
    margin-top: 83px;
    margin-left: 50px;
    width: 327px;
    display: flex;
    flex-direction: column;
}

.mailling__btn {
    display: block;
    margin-left: auto;
    margin-top: 40px;
}

.mailling_manimg {
    margin-left: auto;
}

.mailling__bgtext {
    position: absolute;
    top: 150px;
    color: rgba(0, 0, 0, 0.09);
    font-family: TT Livret Display Trl;
    font-size: 82px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0%;
    z-index: -2;
}

.provider__useful {
    margin: 60px 41px 0 41px;
    display: flex;
}

.useful__gc {
    width: 87px;
}

.useful__arrow {
    width: 111px;
    display: flex;
    align-items: center;
    margin: 0 26px 0 15px;
}

.useful__container {
    margin: 0 0 136px 7%;
    display: flex;
    align-items: center;
}

.useful__text {
    font-family: TT Norms Pro;
    font-size: 16px;
    font-weight: 300;
    line-height: -1px;
    letter-spacing: 0%;
}

.useful__links {
    margin: 0 75px;
    display: flex;
    width: 100%;
}

.useful__link:nth-child(1) {
    margin-left: 0 !important;
}

.useful__link {
    box-sizing: border-box;
    padding: 74px 30px 30px 30px;
    background: rgb(224, 233, 239);
    flex-grow: 1;
    height: 262px;
    margin-left: 33px;
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0%;
}

/* FOOTER */

.footer {
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 153px 25% 75px 20%;
    margin: 0 41px 0 41px;
    border-radius: 30px 30px 0 0;
    position: relative;
    overflow-x: hidden;
}

.footer__container {
    position: relative; 
}

.footer__title {
    font-family: TT Livret Trial Roman Variable;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0%;
    width: 426px;
}

.footer__logo {
    margin-top: 58px;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    padding: 41px 0 45px 0;
    border-top: 2px solid rgb(255, 152, 0);
    border-bottom: 2px solid rgb(255, 152, 0);

    color: rgb(255, 255, 255);
    font-family: TT Norms, sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    text-align: left;
}

.cotact__social img{
    margin-left: 10px;
    width: 26px;
    height: 26px;
    transform: translateY(25%)
}

.footer__subfooter {
    margin-top: 310px;
}

.footer__subfooter {
    display: flex;
    justify-content: space-between;
}

.footer__copyrigth {
    width: 40%;
    font-family: TT Livret Trial Roman Variable;
    font-size: 14px;
    font-weight: 300;
    line-height: -1px;
    letter-spacing: 0%;
}
.footer__links {
    display: flex;
    flex-direction: column;
    color: rgba(196, 197, 197, 0.4);
    font-family: TT Norms;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
}

.subfooter__bg {
    position: absolute;
    right: 218px;
    bottom: 25px;
    width: 40%;
}

.footer__bg {
    bottom: 0;
    position: absolute;
    left: 41px;
}

.header__mobilelogo {
    display: none;
}

.mobilelogo__phone {
    height: 32px;
}
.mobilelogo__arrow {
    height: 24px;
    margin-left: 20px;
}

/* OTHER */

.bg_blue {
    background-color: rgb(50, 69, 237);
}

.ct_blue {
    color: rgb(50, 69, 237);
}

.bg__black {
    background-color: black;
    color: white
}